* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}

.enter {
    transform: scale(2);
    background-color: orange;
}

.leave {
    transform: rotate(90deg);
    background-color: red;
}

.click {
    transform: translate(20px);
    background-color: green;
}